body, html {
  height: 100%;
  font-size: large;
}

.bg {
  background-image: url("images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-top {
  border-radius: 50%;
  max-width: 20rem;
}

.card {
  max-width: 35rem;
  opacity: .8;
}

.btn {
  margin-bottom: 5px;
}
